Repository johnbiundo/mvc-sessions: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

add fake keys for tests
  .env
Due: none

fix readme
  README.md
Due: none

update dotenv
  package-lock.json
  package.json
Due: prettier --write

update renovate config
  renovate.json
Due: prettier --write

add reviewer to review major version updates
  renovate.json
Due: prettier --write

fix name
  src/auth/auth.service.ts
  src/user/user.controller.ts
  src/user/user.service.spec.ts
Due: prettier --write, tslint --fix

add author
  package.json
Due: prettier --write

update env
  .env
Due: none

align with jwt example
  README.md
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/facebook.strategy.ts
  src/auth/google.strategy.ts
  src/auth/local.strategy.ts
  src/user/interfaces/create.ts
  src/user/interfaces/index.ts
  src/user/interfaces/roles.ts
  src/user/interfaces/user.ts
  src/user/user.controller.ts
  src/user/user.service.ts
Due: prettier --write, tslint --fix

add onelogin strategy
  package-lock.json
  package.json
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/onelogin.strategy.ts
  src/env.ts
Due: prettier --write, tslint --fix

update to latest Nest; fix type bug with flash
  package-lock.json
  package.json
  src/common/filters/auth-exceptions.filter.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.json)
  tslint --fix: any of: *.ts
